* {
  margin: 0;
  padding: 0;
}

.tela {

  background-color: red;
  width: 100%;
  height: 100%;
}

.logopoke{
  position: absolute;
  width: 253.69px;
  height: 138.26px;
  left: 125px;
  top: 164.74px;
  
}

.avatarfundo {
    position: absolute;
    width: 1373px;
    height: 1024px;
    left: 530px;
    top: 0px;
    
    background: url(1560403.jpg)
}

.retangle{
position: absolute;
width: 530px;
height: 1024px;
left: 0px;
top: 0px;
background: #BD2C25;
}

.texttitle {
  font-size: 80px;
  color: yellow;
  text-align: center;
}

.textlogin{
    position: absolute;
    width: 69px;
    height: 23px;
    left: 88px;
    top: 383px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #FFFFFF;
    

}
.textsenha {
    position: absolute;
    width: 56px;
    height: 23px;
    left: 88px;
    top: 501px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #FFFFFF;

}
.inputlogin {
    position: absolute;
    width: 375px;
    height: 53px;
    left: 77px;
    top: 412px;
    
   
    
    background: #FFFFFF;
    border-radius: 37px;
}
.inputsenha {
 


position: absolute;
width: 375px;
height: 53px;
left: 77px;
top: 530px;



background: #FFFFFF;
border-radius: 37px;
}

.btnlogin {
    position: absolute;
    width: 374px;
    height: 63px;
    left: 77px;
    top: 666px;
    
  
    
    background: #154A86;
    border-radius: 69px;
    
}
.btncad {
  background-color: transparent;
  border: none;
  position: absolute;
  width: 133px;
  height: 23px;
  left: 209px;
  top: 765px;  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration-line: underline;
  
  
  color: #ffffff;
  
}


